## Preprocessing

In [13]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [15]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [16]:
# Look at APPLICATION_TYPE value counts for binning
app_value_count = application_df["APPLICATION_TYPE"].value_counts()
app_value_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_value_count[app_value_count < 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Look at CLASSIFICATION value counts for binning
val_counts_binning = application_df['CLASSIFICATION'].value_counts()
val_counts_binning.head(10)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
Name: CLASSIFICATION, dtype: int64

In [19]:
# You may find it helpful to look at CLASSIFICATION value counts >1
new_val_counts_binning = val_counts_binning[val_counts_binning  > 1]
new_val_counts_binning.tail()

C3200    2
C1234    2
C1246    2
C1267    2
C1256    2
Name: CLASSIFICATION, dtype: int64

In [20]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(val_counts_binning[val_counts_binning < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [21]:
application_df.shape

(34299, 10)

In [22]:
application_df.nunique()

APPLICATION_TYPE             6
AFFILIATION                  6
CLASSIFICATION              12
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [23]:

application_df_dummies=pd.get_dummies(application_df,drop_first=True)

In [24]:
application_df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_Family/Parent,AFFILIATION_Independent,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,1,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,0

In [25]:
# Split our preprocessed data into our features and target arrays

X = application_df_dummies.drop(columns=["IS_SUCCESSFUL"])
y = application_df_dummies["IS_SUCCESSFUL"].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [45]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_feat = X_train_scaled.shape[1]
first_node = 64
second_node = 32

## Dense == Fully Connected
# - Number of units is usually a multiple of a power of 2: 4,8,16,32,64,128
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=first_node, activation="relu", input_dim=num_input_feat)) 
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=second_node, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                2560

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 4,673
Trainable params: 4,673
Non-trainable params: 0
_________________________________________________________________

In [46]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [47]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 742us/step - loss: 0.5760 - accuracy: 0.7163
Epoch 2/100
804/804 [==============================] - 1s 724us/step - loss: 0.5576 - accuracy: 0.7279
Epoch 3/100
804/804 [==============================] - 1s 736us/step - loss: 0.5546 - accuracy: 0.7295
Epoch 4/100
804/804 [==============================] - 1s 792us/step - loss: 0.5524 - accuracy: 0.7312
Epoch 5/100
804/804 [==============================] - 1s 773us/step - loss: 0.5512 - accuracy: 0.7305
Epoch 6/100
804/804 [==============================] - 1s 774us/step - loss: 0.5506 - accuracy: 0.7301
Epoch 7/100
804/804 [==============================] - 1s 725us/step - loss: 0.5491 - accuracy: 0.7320
Epoch 8/100
804/804 [==============================] - 1s 712us/step - loss: 0.5484 - accuracy: 0.7313
Epoch 9/100
804/804 [==============================] - 1s 724us/step - loss: 0.5479 - accuracy: 0.7326
Epoch 10/100
804/804 [==============================] - 1s 752us/step - loss: 0.5474 - accuracy: 0.7327
Epoch 11/100
804/804 [==============================] - 1s 729us/step - loss: 0.5467 - accuracy: 0.7325
Epoch 12/100
804/804 [==============================] - 1s 738us/step - loss: 0.5462 - accuracy: 0.7329
Epoch 13/100
804/804 [==============================] - 1s 739us/step - loss: 0.5466 - accuracy: 0.7335
Epoch 14/100
804/804 [==============================] - 1s 732us/step - loss: 0.5459 - accuracy: 0.7324
Epoch 15/100
804/804 [==============================] - 1s 720us/step - loss: 0.5460 - accuracy: 0.7326
Epoch 16/100
804/804 [==============================] - 1s 727us/step - loss: 0.5455 - accuracy: 0.7339
Epoch 17/100
804/804 [==============================] - 1s 771us/step - loss: 0.5448 - accuracy: 0.7334
Epoch 18/100
804/804 [==============================] - 1s 770us/step - loss: 0.5445 - accuracy: 0.7344
Epoch 19/100
804/804 [==============================] - 1s 747us/step - loss: 0.5446 - accuracy: 0.7349
Epoch 20/100
804/804 [==============================] - 1s 766us/step - loss: 0.5440 - accuracy: 0.7350
Epoch 21/100
804/804 [==============================] - 1s 737us/step - loss: 0.5438 - accuracy: 0.7346
Epoch 22/100
804/804 [==============================] - 1s 752us/step - loss: 0.5431 - accuracy: 0.7355
Epoch 23/100
804/804 [==============================] - 1s 754us/step - loss: 0.5431 - accuracy: 0.7353
Epoch 24/100
804/804 [==============================] - 1s 755us/step - loss: 0.5432 - accuracy: 0.7356
Epoch 25/100
804/804 [==============================] - 1s 742us/step - loss: 0.5427 - accuracy: 0.7358
Epoch 26/100
804/804 [==============================] - 1s 731us/step - loss: 0.5425 - accuracy: 0.7357
Epoch 27/100
804/804 [==============================] - 1s 748us/step - loss: 0.5427 - accuracy: 0.7346
Epoch 28/100
804/804 [==============================] - 1s 759us/step - loss: 0.5423 - accuracy: 0.7356
Epoch 29/100
804/804 [==============================] - 1s 758us/step - loss: 0.5422 - accuracy: 0.7360
Epoch 30/100
804/804 [==============================] - 1s 775us/step - loss: 0.5419 - accuracy: 0.7360
Epoch 31/100
804/804 [==============================] - 1s 811us/step - loss: 0.5413 - accuracy: 0.7364
Epoch 32/100
804/804 [==============================] - 1s 843us/step - loss: 0.5412 - accuracy: 0.7351
Epoch 33/100
804/804 [==============================] - 1s 790us/step - loss: 0.5414 - accuracy: 0.7367
Epoch 34/100
804/804 [==============================] - 1s 837us/step - loss: 0.5415 - accuracy: 0.7364
Epoch 35/100
804/804 [==============================] - 1s 792us/step - loss: 0.5413 - accuracy: 0.7364
Epoch 36/100
804/804 [==============================] - 1s 770us/step - loss: 0.5407 - accuracy: 0.7360
Epoch 37/100
804/804 [==============================] - 1s 765us/step - loss: 0.5409 - accuracy: 0.7355
Epoch 38/100
804/804 [==============================] - 1s 802us/step - loss: 0.5403 - accuracy: 0.7360
Epoch 39/100
804/804 [==============================] - 1s 875us/step - loss: 0.5404 - accuracy: 0.7377
Epoch 40/100
804/804 [==============================] - 1s 851us/step - loss: 0.5402 - accuracy: 0.7365
Epoch 41/100
804/804 [==============================] - 1s 824us/step - loss: 0.5402 - accuracy: 0.7369
Epoch 42/100
804/804 [==============================] - 1s 797us/step - loss: 0.5397 - accuracy: 0.7371
Epoch 43/100
804/804 [==============================] - 1s 730us/step - loss: 0.5398 - accuracy: 0.7376
Epoch 44/100
804/804 [==============================] - 1s 754us/step - loss: 0.5397 - accuracy: 0.7375
Epoch 45/100
804/804 [==============================] - 1s 748us/step - loss: 0.5394 - accuracy: 0.7381
Epoch 46/100
804/804 [==============================] - 1s 753us/step - loss: 0.5397 - accuracy: 0.7376
Epoch 47/100
804/804 [==============================] - 1s 751us/step - loss: 0.5394 - accuracy: 0.7370
Epoch 48/100
804/804 [==============================] - 1s 734us/step - loss: 0.5390 - accuracy: 0.7365
Epoch 49/100
804/804 [==============================] - 1s 756us/step - loss: 0.5393 - accuracy: 0.7369
Epoch 50/100
804/804 [==============================] - 1s 786us/step - loss: 0.5389 - accuracy: 0.7385
Epoch 51/100
804/804 [==============================] - 1s 780us/step - loss: 0.5389 - accuracy: 0.7379
Epoch 52/100
804/804 [==============================] - 1s 755us/step - loss: 0.5388 - accuracy: 0.7386
Epoch 53/100
804/804 [==============================] - 1s 759us/step - loss: 0.5389 - accuracy: 0.7376
Epoch 54/100
804/804 [==============================] - 1s 779us/step - loss: 0.5385 - accuracy: 0.7380
Epoch 55/100
804/804 [==============================] - 1s 762us/step - loss: 0.5392 - accuracy: 0.7374
Epoch 56/100
804/804 [==============================] - 1s 756us/step - loss: 0.5386 - accuracy: 0.7380
Epoch 57/100
804/804 [==============================] - 1s 794us/step - loss: 0.5384 - accuracy: 0.7379
Epoch 58/100
804/804 [==============================] - 1s 775us/step - loss: 0.5386 - accuracy: 0.7371
Epoch 59/100
804/804 [==============================] - 1s 813us/step - loss: 0.5377 - accuracy: 0.7378
Epoch 60/100
804/804 [==============================] - 1s 830us/step - loss: 0.5382 - accuracy: 0.7376
Epoch 61/100
804/804 [==============================] - 1s 811us/step - loss: 0.5382 - accuracy: 0.7371
Epoch 62/100
804/804 [==============================] - 1s 881us/step - loss: 0.5379 - accuracy: 0.7385
Epoch 63/100
804/804 [==============================] - 1s 774us/step - loss: 0.5384 - accuracy: 0.7388
Epoch 64/100
804/804 [==============================] - 1s 771us/step - loss: 0.5377 - accuracy: 0.7386
Epoch 65/100
804/804 [==============================] - 1s 791us/step - loss: 0.5375 - accuracy: 0.7385
Epoch 66/100
804/804 [==============================] - 1s 939us/step - loss: 0.5373 - accuracy: 0.7380
Epoch 67/100
804/804 [==============================] - 1s 829us/step - loss: 0.5374 - accuracy: 0.7374
Epoch 68/100
804/804 [==============================] - 1s 745us/step - loss: 0.5377 - accuracy: 0.7380
Epoch 69/100
804/804 [==============================] - 1s 758us/step - loss: 0.5376 - accuracy: 0.7379
Epoch 70/100
804/804 [==============================] - 1s 820us/step - loss: 0.5377 - accuracy: 0.7383
Epoch 71/100
804/804 [==============================] - 1s 759us/step - loss: 0.5374 - accuracy: 0.7380
Epoch 72/100
804/804 [==============================] - 1s 745us/step - loss: 0.5374 - accuracy: 0.7387
Epoch 73/100
804/804 [==============================] - 1s 736us/step - loss: 0.5372 - accuracy: 0.7393
Epoch 74/100
804/804 [==============================] - 1s 785us/step - loss: 0.5378 - accuracy: 0.7380
Epoch 75/100
804/804 [==============================] - 1s 817us/step - loss: 0.5370 - accuracy: 0.7391
Epoch 76/100
804/804 [==============================] - 1s 763us/step - loss: 0.5373 - accuracy: 0.7378
Epoch 77/100
804/804 [==============================] - 1s 828us/step - loss: 0.5370 - accuracy: 0.7390
Epoch 78/100
804/804 [==============================] - 1s 877us/step - loss: 0.5371 - accuracy: 0.7386
Epoch 79/100
804/804 [==============================] - 1s 908us/step - loss: 0.5370 - accuracy: 0.7378
Epoch 80/100
804/804 [==============================] - 1s 896us/step - loss: 0.5367 - accuracy: 0.7386
Epoch 81/100
804/804 [==============================] - 1s 835us/step - loss: 0.5368 - accuracy: 0.7381
Epoch 82/100
804/804 [==============================] - 1s 749us/step - loss: 0.5368 - accuracy: 0.7386
Epoch 83/100
804/804 [==============================] - 1s 774us/step - loss: 0.5368 - accuracy: 0.7390
Epoch 84/100
804/804 [==============================] - 1s 771us/step - loss: 0.5364 - accuracy: 0.7388
Epoch 85/100
804/804 [==============================] - 1s 741us/step - loss: 0.5364 - accuracy: 0.7394
Epoch 86/100
804/804 [==============================] - 1s 763us/step - loss: 0.5368 - accuracy: 0.7386
Epoch 87/100
804/804 [==============================] - 1s 766us/step - loss: 0.5364 - accuracy: 0.7397
Epoch 88/100
804/804 [==============================] - 1s 734us/step - loss: 0.5366 - accuracy: 0.7382
Epoch 89/100
804/804 [==============================] - 1s 743us/step - loss: 0.5370 - accuracy: 0.7388
Epoch 90/100
804/804 [==============================] - 1s 758us/step - loss: 0.5358 - accuracy: 0.7393
Epoch 91/100
804/804 [==============================] - 1s 770us/step - loss: 0.5367 - accuracy: 0.7392
Epoch 92/100
804/804 [==============================] - 1s 752us/step - loss: 0.5366 - accuracy: 0.7390
Epoch 93/100
804/804 [==============================] - 1s 768us/step - loss: 0.5365 - accuracy: 0.7398
Epoch 94/100
804/804 [==============================] - 1s 751us/step - loss: 0.5360 - accuracy: 0.7400
Epoch 95/100
804/804 [==============================] - 1s 779us/step - loss: 0.5362 - accuracy: 0.7384
Epoch 96/100
804/804 [==============================] - 1s 855us/step - loss: 0.5362 - accuracy: 0.7393
Epoch 97/100
804/804 [==============================] - 1s 752us/step - loss: 0.5359 - accuracy: 0.7397
Epoch 98/100
804/804 [==============================] - 1s 786us/step - loss: 0.5363 - accuracy: 0.7393
Epoch 99/100
804/804 [==============================] - 1s 763us/step - loss: 0.5363 - accuracy: 0.7387
Epoch 100/100
804/804 [==============================] - 1s 926us/step - loss: 0.5361 - accuracy: 0.7395

In [48]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5571 - accuracy: 0.7303 - 236ms/epoch - 881us/step
Loss: 0.5571314096450806, Accuracy: 0.7302623987197876

In [52]:
# Export our model to HDF5 file
nn.save_weights('AlphabetSoupCharity.hdf5')